*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 1px solid red;
  height: 100%;

}

body {
    background: linear-gradient(53deg, #382ee8, #895a22);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
@keyframes AnimationName {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
  color: snow;
  width: 100%;
}